<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Table</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboardActivite">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Validation Activité</li>
  </ul>
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row">
              <div class="col-lg-6">
                <div class="row m-0">
                  <div class="col-auto p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <!--                        <h2><strong>Advance Table</strong></h2>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Rechercher" type="text" class="browser-default search-field"
                                 (keyup)='filterDatatable($event)' aria-label="Search box">
                        </div>
                      </div>
                      <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          
                          <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                                  (click)='deleteSelected()'>
                            <i class="material-icons">delete</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ngx-datatable #table class="material" [rows]="activiteval" [loadingIndicator]="loadingIndicator"
                           columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                           [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                           [selectionType]="selection" (select)='onSelect($event)'>
              <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Nom">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
<!--              <ngx-datatable-column [width]="150" name="Titre">-->
<!--                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>-->
<!--                  <div class="name-col-style">-->
<!--                    <div>{{row.titre}}</div>-->
<!--                  </div>-->
<!--                </ng-template>-->
<!--              </ngx-datatable-column>-->
              <ngx-datatable-column [width]="150" name="Commentaire Validation">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.lieu}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
             
              <ngx-datatable-column [width]="150" name="Statut Demarrage">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
<!--                  <div class="name-col-style">-->
                    @if (row.statut === 'En_Cours') {
                      <div class="badge-outline col-green">{{row.statut}}
                      </div>
                    }
                    @if (row.statut === 'Termine') {
                      <div class="badge-outline col-red">{{row.statut}}
                      </div>
                    }
                    @if (row.statut === 'En_Attente') {
                      <div class="badge-outline col-indigo">{{row.statut}}
                      </div>
                    }
<!--                  </div>-->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Objectif">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.objectifParticipation}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Entite">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.entite?.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Type Activite">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.typeActivite?.type}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Salle">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.salleId?.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [sortable]="false">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>
                    <button title="Apporter une validation"
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-edit h-auto" (click)='editRow2()'>
                      <i class="fas fa-pen"></i>
                    </button>
                    <button title="Voir les détails"
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-edit h-auto" (click)='editRow2()'>
                      <i class="fas fa-eye" ></i>
                    </button>
                    
                    <!-- <button
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-edit h-auto" (click)='editRow(row, rowIndex, editRecord)'>
                      <i class="fas fa-pen"></i>
                    </button> -->
                    <!-- <button 
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                      <i class="far fa-trash-alt"></i>
                    </button> -->
                  </span>
                  <!-- Message si aucune étape n'est disponible pour l'activité -->
                  <div *ngIf="!row.activitevalidation || row.activitevalidation.length === 0" colspan="7" class="text-danger">
                    Activité n'a pas d'étapes.
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
