$color-primary: #ffa117;
$color-primary-shadow: #f1a535;
$color-primary-light: #efb45f;

.brand-wrapper {
  margin-bottom: 19px;

  .logo {
    height: 37px;
  }
}
.auth-card {
  left: 50%;
  top: 50%;
  width: 380px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}
.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
  margin-bottom: 0px;

  &-img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    // object-fit: cover;
   object-fit: scale-down;
   margin-left: 10%;
  }
  .login-body {
    padding: 60px;

    @media (max-width: 422px) {
      padding: 35px 24px;
    }
    .logo-name {
      vertical-align: middle;
      font-size: 38px;
      font-weight: 700;
      margin: 0px 10px;
    }
  }
  .forgot-body {
    padding: 60px;
    min-height: 600px;

    @media (max-width: 422px) {
      padding: 35px 24px;
    }
    .logo-name {
      vertical-align: middle;
      font-size: 38px;
      font-weight: 700;
      margin: 0px 10px;
    }
  }

  &-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
  }

  form {
    margin: 0px 60px;
  }

  .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: normal;

    &::placeholder {
      color: #919aa3;
    }
  }

  .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;

    &:hover {
      border: 1px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
    }
  }

  .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
  }

  &-footer-text {
    font-size: 16px;
    color: $color-primary;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &-footer-nav {
    a {
      font-size: 14px;
      color: #919aa3;
    }
  }
  .login-card-img {
    border-right: 1px solid #f3f3f3;
  }
}

.register-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
  margin-bottom: 0px !important;

  &-img {
    border-radius: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .register-body {
    padding: 60px;

    @media (max-width: 422px) {
      padding: 35px 24px;
    }
    .logo-name {
      vertical-align: middle;
      font-size: 38px;
      font-weight: 700;
      margin: 0px 10px;
    }
  }

  &-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
  }

  form {
    margin: 0px 20px;
  }

  .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    font-size: 13px;
    font-weight: normal;

    &::placeholder {
      color: #919aa3;
    }
  }

  .register-btn {
    padding: 13px 20px 12px;
    background-color: $color-primary;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;

    &:hover {
      border: 1px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
    }
  }

  &-footer-text {
    font-size: 16px;
    color: $color-primary;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &-footer-nav {
    a {
      font-size: 14px;
      color: #919aa3;
    }
  }
  .register-card-img {
    border-right: 1px solid #f3f3f3;
  }
}
.login-icons {
  position: absolute;
  top: 37px;
  left: 18px;
  height: 16px !important;
  width: 16px !important;
  color: $color-primary;
}
.social-icon li a {
  color: #3c4858;
  border: 1px solid #3c4858;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
}
.social-icon li a:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-light !important;
  color: #ffffff !important;
}
.sm-icon {
  height: 16px !important;
  width: 16px !important;
}
.auth-form-btn {
  width: 100%;
  height: 50px;
  background: $color-primary;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}
.register-container {
  max-width: 1140px;
}
