.user-img {
    border-radius: 10px;
    // max-width: 112px;
    width: 120px;
    height: 120px;
    margin-top: -70px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}